* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans",sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    }

a {
    list-style: none;
    text-decoration: none;
}
ul {
    padding: 0;
}
li {
    list-style-type: none;
    margin: 0 0;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.style {
    display: flex;
}

/* header */
.header {
    width: 100%;
    display: flex;
    margin-top: 50px;
    align-items: center;
}

.header__nav {
    flex-grow: 2;
}
.header__list {
    padding-left: 60px;
    display: flex;
}

.header__contact {
    display: flex;
    align-items: center;
}

.header__list-item, .header__contact-link {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    color:  #1E0606;
}
.header__list-item {
margin: 10px;
}

.header__contact-search:before {
    content: '';
    background-image: url(../img/icons/search.svg);
    background-repeat: no-repeat;
    display: block;
    border: none;
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin-right: 23px;
}

.header__contact-link {
    font-weight: 700;
}

/* .link-btn */
.link-btn {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    background-color: #000000;
    padding: 9px 22px;
}

/* footer */
.footer {
    background-color: #434343;
    width: 100%;
    height: 556px;
}

.footer__menuColumn {
    width: 100%;
    max-width: 380px;
    /* margin-top: 100px; */
    margin: 100px 20px 0 0; 
    /* padding-right: 20px; */
}
.footer__menuColumn-header {
    color: #AAAAAA;
    border-bottom: 1px solid #666666;
    padding-bottom: 24px;
    margin-bottom: 26px;
}

.footer__menuColumn-list {
    padding-top: 3px;
}
.footer__menuColumn-list-element {
    padding: 8px 0;

}
.footer__connectColumn-form {
    display: flex;
    height: 40px;
    margin-bottom: 26px;
}
.footer__menuColumn-list-link{
    color: #FFFFFF; 
}

.footer__connectColumn-form-email {
    color: #EBEBEB;
    font-family: 'Open Sans';
    font-size: 16px;
    display: flex;
    width: 380px;
    border: none;
    background-color: #666666;
    padding-left: 15px;
}

.footer__connectColumn-socialsList {
    display: flex;
}

.footer__connectColumn-socialsList li {
    margin-right: 10px;
}
.footer__connectColumn-socialsList-item:before {
    content: '';
    background-repeat: no-repeat;
    background-color: #666666;
    border-radius: 15px;
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
} 

.footer__connectColumn-socialsList-facebook:before {
    background-image: url(../img/icons/facebook.svg);
}

.footer__connectColumn-socialsList-twitter:before {
    background-image: url(../img/icons/twitter.svg);
}

.footer__connectColumn-socialsList-pinterest:before {
    background-image: url(../img/icons/pinterest.svg);
}

.footer__connectColumn-socialsList-instagram:before {
    background-image: url(../img/icons/instagram.svg);
}

/* footer__rating */
.footer__rating {
    display: flex;
    border-top: 1px solid #666666;
    margin-top: 28px;
}

.rating {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    border: none;
    align-items: center;
}

.legend {
    visibility: hidden;
}

.group {
    position: relative;
    width: 5em;
    height: 1em;
    background-image: url(/img/icons/star.svg);
    background-size: 1em 0.9em;
    background-repeat: repeat-x;
}

.input {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.star {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    font-size: inherit;
    -webkit-appearance:none;
    -moz-appearance: none;
    appearance: none;
    background-size: 1em 0.9em;
    background-repeat: repeat-x;
    transition: 0.1s;
    cursor: pointer;
}

.star:focus{
    outline: none;
}

.input:checked + .star,
.star:hover {
    background-image: url(/img/icons/brown-star.svg);
    outline: none;    
}

.star:hover ~ .star {
    background-image: url(/img/icons/star.svg);
}
/* options  */
.star:nth-of-type(1) {
    z-index: 5;
    width: 1em;
}
.star:nth-of-type(2) {
    z-index: 4;
    width: 2em;
}
.star:nth-of-type(3) {
    z-index: 3;
    width: 3em;
}
.star:nth-of-type(4) {
    z-index: 2;
    width: 4em;
}
.star:nth-of-type(5) {
    z-index: 1;
    width: 5em;
}

/* .rating-caption { */
.footer__rating-ratingRow-caption {
    margin: 0;
    padding: 0 26px 0 0;
    color: #FFFFFF;
}

/* copyright */
.footer__rating {
    padding-top: 24px;
    align-items: center;
}
.footer__rating-meta-copyright {
    color: #ffffff;
    margin: 0 0;
    padding-left: 154px;
}
.footer__rating-meta {
    display: flex;
    margin: 0 0;
    padding-left: 110px;
}
.footer__rating-meta-link, 
.footer__rating-meta-text {
   color: #A2A2A2; 
}