/* breadcrumbs */
.breadcrumbs {
    margin-top: 60px;
}
.breadcrumbs__header {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #1E0606;
}

.breadcrumbs__list {
    display: flex;
    width: 1180px;
    padding-top: 14px;
    padding-bottom: 50px;
}

.breadcrumbs__list-item a {
    color: #1E0606;
    font-family: 'Crimson Text', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    padding-right: 20px;
}

.arrow:after {
    display: inline-block;
    content: '';
    background-image: url(../img/icons/breadcrumbs-element.svg);
    width: 8px;
    height: 12px; 
    color: #1E0606;
    background-repeat: no-repeat;
    margin-right: 25px;
}

.arrow:hover {
    opacity: 0.6;
}

/* blog */
.blog__list {
    flex-wrap: wrap;
    flex-direction: row;  
}

.blog__list-post {
    width: 380px;
    margin-bottom: 33px;
}

/* ___________________________post */
.blog__list-post-img {
  margin-bottom: 20px;
  min-height: 220px; 
}

.blog__list-post-date {
    padding-bottom: 7px;
}

.blog__list-post-text {
    padding-top: 15px;
    font-size: 18px;
    line-height: 25px;
    width: 385px;
}

.blog__list {
    display: flex;
    justify-content: space-between;

}

.blog__list-post-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;

    color: #1E0606;
}

.blog__list-post-link:hover,
.blog__list-post-link:active {
    text-decoration: underline;
    cursor: pointer;
}

